
@font-face {
    font-family: 'poppins';
    src: url('fonts/Poppins-Regular.ttf');}
@font-face {
        font-family: 'poppins semibold';
        src: url('fonts/Poppins-SemiBold.ttf');}
    

.but11{
    width: 222px;
    height: 40px;
    border-radius: 35px;
    
    
} 
body{
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 18pt;
    background-color: #F6EBDA;
    font-family: 'poppins';
    /* background: url(../bootstrap/images/bg_img_hero.png) top right no-repeat;
    width: 599px;
    height: 394px; */
    

}

.bg-body-tertiary {
    --bs-bg-opacity: 0;
    background-color: #F6EBDA;
}
.navbar-nav {
    font-size: 18px;
    padding-left: 180pt;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: #FF902B;
    --bs-nav-link-hover-color: #FF902B;
}
.nav-item{
    padding: 5pt;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color:#FF902B;
    
}
.nav-link { 
    color: #000;
}

::placeholder{
    color: #929292;
    font-size: 14px;
    padding-left: 5%;
    
    

}
.d-flex{
    padding-right: 15pt;
    position: relative
}
.but11{
    padding-left: 30pt;
}
.but11:focus {
    border-color:#F6EBDA;
    outline: 0;
    box-shadow: none;
    }
@media (max-width: 767px) {    
.text-white {
    padding-top: 30%;
    padding-left: 30%;
    padding-right: 30%;
}}
.text-white{
    text-align: center;
}
/* .btn{
    position: absolute;
    margin-top: 2pt;
} */

.btn-outline-success {
    --bs-btn-color: #929292 ;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: none;
    --bs-btn-hover-bg: none;
    --bs-btn-hover-border-color: none;
    --bs-btn-focus-shadow-rgb: #;
    --bs-btn-active-color: none;
    --bs-btn-active-bg: none;
    --bs-btn-active-border-color: none;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: none;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: none;
    --bs-gradient: none;   

}

.hero{ padding-top: 80pt;

}
h1{
    font-size: 48px;
    font-family: 'poppins semibold';
    line-height: 1.5;
    color: #2F2105;
    
}
@media (min-width: 963px){
  
.bgimg{
    
    padding-top: -40%;
    margin-left: 62%;
    background-image: url(images/bg_img_hero.png);
    width: 599px;
    height: 394px;
    position: absolute;
    z-index: -1;
    overflow: hidden;
}}
.p{
    font-size: 18px;
    font-family: 'poppins';
    line-height: 1.5 ;
    color: #7E7D7A;
}
.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #2F2105;
    --bs-btn-border-color: #2F2105;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5c636a;
    --bs-btn-hover-border-color: #565e64;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #565e64;
    --bs-btn-active-border-color: #51585e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #2F2105;
    --bs-btn-disabled-border-color: #2F2105;
    border-radius: 33pt;
    width: 144px;
    height: 44px;
    font-size: 14px;
    margin-top: 2%;
}
@media (min-width: 963px){
.imgcof{
    background-image: url(images/Vector.png);
    width: 434px;
    height: 416px;
    position: absolute;
    margin-left: 50%;
    margin-top: -2%;
    
}}

@media (min-width: 963px){
  
    .img2{
        background-image: url(images/bg_img_hero.png);
        width: 569px;
        height: 394px;
        position: absolute;
        z-index: -2;
        
        margin-left: -12%;
        margin-top: 1%;
    }}
@media (min-width: 963px){
.imgbg1{
    background-image: url(images/bg2.png);
    width: auto;
    height: auto;
    position: absolute;
    z-index: -1;
    margin-top: -30%;
    margin-left: -5%;
    overflow: hidden;


}}


h2{
    font-family: 'poppins semibold';
    padding-top: 13%;
    color: #2F2105;
    padding-bottom: 38px;

    
}
.word1{
    text-decoration:underline;
    text-decoration-color: #FF902B;
    
}
@media (min-width: 576px) {
    .card-group > .card + .card {
        margin-left: 38px;
        border-left: 0;
    }
}
/* .card-img-top {
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 24px;
} */
 .card-style-1{
    margin-top: -30%;
    font-family: 'poppins semibold';
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 24px;
    margin-bottom: 40%;
    
    border-radius: 12px;
        --bs-card-spacer-y: 1rem;
        --bs-card-spacer-x: 1rem;
        --bs-card-title-spacer-y: 0.5rem;
        --bs-card-title-color: ;
        --bs-card-subtitle-color: ;
        --bs-card-border-width: var(--bs-border-width);
        --bs-card-border-color: var(--bs-border-color-translucent);
        --bs-card-border-radius: var(--bs-border-radius);
        --bs-card-box-shadow: ;
        --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
        --bs-card-cap-padding-y: 0.5rem;
        --bs-card-cap-padding-x: 1rem;
        --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
        --bs-card-cap-color: ;
        --bs-card-height: ;
        --bs-card-color: ;
        --bs-card-bg: var(--bs-body-bg);
        --bs-card-img-overlay-padding: 1rem;
        --bs-card-group-margin: 0.75rem;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        height: var(--bs-card-height);
        color: var(--bs-body-color);
        word-wrap: break-word;
        background-color: var(--bs-card-bg);
        background-clip: border-box;
        border: var(--bs-card-border-width) none var(--bs-card-border-color);}
.card-body {
            /* flex: 1 1 auto; */
            padding-top: 19px;
            /* padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x); */
            color: var(--bs-card-color);
        }
        
 
 @media (min-width: 576px) {
    .card-group > .card:not(:last-child) {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
    }
}
@media (min-width: 576px) {
    .card-group > .card:not(:last-child) {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }
}
@media (min-width: 576px) {
    .card-group > .card:not(:first-child) {
        border-top-left-radius: 12px; 
         border-bottom-left-radius: 12px; 
    }
}
.btn-outline-primary {
    --bs-btn-color: #FFD28F;
    --bs-btn-border-color: #FFD28F;
    --bs-btn-hover-color: #FF902B;
    --bs-btn-hover-bg: none;
    --bs-btn-hover-border-color: #FF902B;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #FF902B;
    --bs-btn-active-bg: none;
    --bs-btn-active-border-color: #FF902B;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
     --bs-btn-disabled-color: none;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: none;
    --bs-gradient: none;
    display: inline-block;
    height: 32px;
    width: 64px;
    font-size: 16px;
    font-family: 'poppins semibold';
    border-radius: 8px;
    border-width: 2px;
}
.btn-outline-secondary {
    --bs-btn-color: #FFD28F;
    --bs-btn-border-color: #FFD28F;
    --bs-btn-hover-color: #FF902B;
    --bs-btn-hover-bg: none;
    --bs-btn-hover-border-color: #FF902B;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #FF902B;
    --bs-btn-active-bg: none;
    --bs-btn-active-border-color: #FF902B;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
     --bs-btn-disabled-color: none;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: none;
    --bs-gradient: none;
    display: inline-block;
    height: 32px;
    width: 64px;
    font-size: 16px;
    font-family: 'poppins semibold';
    text-align: center;
    border-radius: 8px;
    border-width: 2px;
    margin-bottom: 0%;
}
.btn {
    --bs-btn-padding-x: 0rem;
    --bs-btn-padding-y: 0rem;
    --bs-btn-font-family: ;
    
    
}
@media (width: 768px) {
    .iconbuy{
        margin-left: -50%;
        margin-top: -100%;
    }
}


.iconbuy1{
    /* background-image: url(images/iconebuy.png) ; */
    width: 43px;
    height: 43px;
    position: absolute;
    margin-left: 60%;
    margin-top: -15%;
    
}
.title3{
    font-family: 'poppins semibold';
    /* padding-top: 150px; */
}
.container {
    padding-top: 38px;
    padding-bottom: 100px;
}
.mt-3{
    font-family: 'poppins semibold';
    margin-bottom: 8px ;
    font-size: 24px;

}
    
.accordion-item {
        color: none;
        background-color: none;
     border: none

}
.accordion-button:not(.collapsed) {
    color: #FF902B;
    background-color: #F6EBDA;
    box-shadow: none;
}
.accordion {
    --bs-accordion-color: var(--bs-body-color);
    --bs-accordion-bg: none;
    --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
    /* --bs-accordion-border-color: var(--bs-border-color); */
    --bs-accordion-border-width: var(--bs-border-width);
    --bs-accordion-border-radius: var(--bs-border-radius);
    --bs-accordion-inner-border-radius: calc(var(--bs-border-radius) -(var(--bs-border-width)));
    --bs-accordion-btn-padding-x: 1.25rem;
    --bs-accordion-btn-padding-y: 1rem;
    /* --bs-accordion-btn-color: var(--bs-body-color); */
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
    --bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23212529' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e);
    --bs-accordion-btn-icon-width: 1.25rem;
    --bs-accordion-btn-icon-transform: rotate(-180deg);
    --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
    --bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23052c65' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e);
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-accordion-body-padding-x: 1.25rem;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-active-color: var(--bs-primary-text-emphasis);
    /* --bs-accordion-active-bg: var(--bs-primary-bg-subtle); */
}
.accordion-body{
    text-align: left;
    font-family: 'poppins';}

.bg-pattern {
    background-image: url("images/bgcup.png"); 
    position: absolute;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    margin-left: -12%;
    z-index: -1;
    margin-top: -30%;
    padding-bottom: 40%;
}
.rounded-4 {
    margin-top: 10%;
}
.rounded-pill{
width:486px ;
height: 54px;
}


.bg-image3 {
  width: 100%;
  height: 392px; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
}
.mt-3 {
    font-family: 'poppins semibold';
    /* margin-bottom: 8px; */
    margin-top: 0rem !important;
    margin-bottom: 1rem;
}
.btn-dark {
    height: 44px;
    width:138px;
    border-radius: 33px;
    font-size: 14px;
    font-family: 'poppins semibold';
    --bs-btn-color: #fff;
    --bs-btn-bg: #2F2105;
    --bs-btn-border-color: #2F2105;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #424649;
    --bs-btn-hover-border-color: #373b3e;
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4d5154;
    --bs-btn-active-border-color: #373b3e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #212529;
    --bs-btn-disabled-border-color: #212529;
}
@media (max-width: 768px) {  
    .rounded-pill{
        width:180px ;
        height: 54px;
        }
}
@media (min-width: 1025px) {
    .lead{    margin-left: 175px;
    }
}
.lead{
    font-family: 'poppins semibold';
    margin-top: -10pt;
    font-size: 24px;
    }
    @media (min-width: 1025px) {
        .text55{
            margin-left: 175px;
        }
    }
    @media (min-width: 1025px) {
        .mb-3{
            margin-left: 175px;
        }
    }
.text55{
    font-family: 'poppins';
    font-size: 18px;
    color: #7E7D7A;
}
@media (min-width: 1025px){
    .btn-warning{
        margin-left: 175px;}
}

.btn-warning{
    
    font-size: 12px;
    font-family: 'poppins semibold';
    width: 142px;
    height: 48px;
    border-radius: 33px;
    --bs-btn-color: #fff;
    --bs-btn-bg: #2F2105;
    --bs-btn-border-color: #2F2105;
    --bs-btn-hover-color: #F4AE26;
    --bs-btn-hover-bg: #2F2105;
    --bs-btn-hover-border-color: #F4AE26;
    --bs-btn-focus-shadow-rgb: 217, 164, 6;
    --bs-btn-active-color: hsl(40, 90%, 55%);
    --bs-btn-active-bg: #2F2105;
    --bs-btn-active-border-color: #F4AE26;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #F4AE26;
    --bs-btn-disabled-bg: #2F2105;
    --bs-btn-disabled-border-color: #2F2105;
}
.modal-header{
    font-family: 'poppins semibold';
    background-color: #F6EBDA;
    border-top-left-radius: none;
    border-top-right-radius: none;
    border-bottom-left-radius: none;
    border-bottom-right-radius: none;
    border-color:#F6EBDA ;
    /* align-items: center; */

}
.form-label{
    font-family: 'poppins';
}
.form-check-input:checked {
    background-color: #2F2105;
    border-color: #2F2105;
}
.btn-primary {
    
    font-family: 'poppins';
    width: 100px;
    height: 35px;
    border-radius: 33px;
    --bs-btn-color: #fff;
    --bs-btn-bg: #2F2105;
    --bs-btn-border-color: #2F2105;
    --bs-btn-hover-color: #F4AE26;
    --bs-btn-hover-bg: #2F2105;
    --bs-btn-hover-border-color: #2F2105;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #F4AE26;
    --bs-btn-active-bg: #2F2105;
    --bs-btn-active-border-color: #2F2105;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #F4AE26;
    --bs-btn-disabled-bg: #2F2105;
    --bs-btn-disabled-border-color: #2F2105;}

/* .testimonial-card {
    
    border-radius: 10px;
    
    position: relative;
  }
  
  .testimonial-card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .testimonial-card .card-body {
    background-color: #FFCB7C;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    z-index: 1;
    margin-left: 20%;
    margin-right: -20%;
    border: 6px solid #FFCB7C 0.67;
    margin-top: -50%;
}
  
  
  .testimonial-card .card-title {
    font-weight: bold;
    color: #333;
  }
  
  .testimonial-card .card-text {
    color: #555;
    font-size: 0.9rem;
  }
  
  .testimonial-card::before {
    content: "";
    position: absolute;
    top: -15px;
    right: 20px;
    width: 40px;
    height: 40px;
    
    z-index: -1;} */

/* .btn-outline-primary.active {
    background-color: #FFD28F;
    border-color: #FF902B;
    color: #FF902B;}   */
